.swing{
  visibility: visible !important; 
  animation-name: swing;
  -webkit-animation-name: swing;  

  animation-duration: 2.5s; 
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

}

@keyframes swing {
  0% {
    transform: rotate(-10deg);  
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);  
  }           
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-10deg);  
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);  
  }       
}
